.longtext {
  max-width: 36em;
  margin: 0 auto;
  padding: 0 var(--spacing-outer);
  font-size: var(--fontsize-30);
  
}
.longtext a {
  color: var(--color-black);
  text-decoration: underline;
}

@media (max-width: 639.9px) {
  .longtext {
    max-width: 100%;
    font-size: var(--fontsize-20);
    padding: 0 var(--spacing-outer);
  }
}