@media screen and (max-width: 639.9px) {
  .components__header {
    font-size: var(--fontsize-20);
    font-weight: 500;
    text-transform: uppercase;
    padding: var(--spacing-outer-medium);
    margin:0;
    background-color: var(--color-yellow);
    margin-left: 7vw;
  }
  .component {
    display: grid;
    grid-template-columns: 7vw auto 22vw;
    grid-template-rows: auto auto;
  }
  .component .component__text {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    padding: 0 var(--spacing-outer-medium);
  }
  .component .component__media {
    display: grid;
    grid: 1fr / 7vw auto 22vw;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding: 0;
    position: relative;
  }
  .component .component__media figure {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    position: relative;
    margin: 0;
    overflow: hidden;
    aspect-ratio: 1.25;
  }
  .component .component__media figure img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .component__title {
    font-size: var(--fontsize-70);
    position: relative;
    margin-top: calc(var(--spacing-outer-medium) + .25em);
    margin-bottom: var(--spacing-outer);
  }
  .component__title:before {
    font-size: var(--fontsize-50);
    content: '+';
    position: absolute;
    left: 0;
    bottom: 100%;
  }
  .component__subtitle {
    font-size: var(--fontsize-30);
    max-width: 24em;
    margin-bottom: var(--spacing-outer-medium);
  }
  .component__body {
    font-size: var(--fontsize-20);
  }
  .component__body__cols2 * {
    break-inside: avoid;
  }
  .component__body p {
    margin-top: 0;
    max-width: 24em;
  }
  .component__first .component__text {
    background-color: var(--color-yellow);
  }
  .component__second {
    grid: auto auto / 22vw auto 7vw;
    background-color: var(--color-white);
  }
  .component__second .component__text {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    padding: 0 var(--spacing-outer-medium) var(--spacing-outer-medium) var(--spacing-outer-medium);
  }
  .component__second  .component__media {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    padding: 0;
    position: relative;
    display: grid;
    grid-template-columns: 22vw auto 7vw;
    grid-template-rows: 1fr;
  }
  .component__second  .component__media .component__image{
    grid-column: 2 / 4;
  }
  .component__second  .component__media .component__video{
    grid-column: 1 / 2;
  }
  .component__second  .component__media .component__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .component__third {
    grid: auto auto / 7vw auto 22vw;
    background-color: var(--color-white);
  }
  .component__third .component__text {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    padding: 0 var(--spacing-outer-medium) var(--spacing-outer-medium) var(--spacing-outer-medium);
  }
  .component__third  .component__media {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    padding: 0;
    position: relative;
    display: grid;
    grid-template-columns: 7vw auto 22vw;
    grid-template-rows: 1fr;
  }
  .component__third  .component__media .component__image{
    grid-column: 1 / 3;
  }
  .component__third  .component__media .component__video{
    grid-column: 3 / 4;
  }
  .component__third  .component__media .component__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
@media screen and (min-width: 640px) {
  .components__header {
    font-size: var(--fontsize-20);
    font-weight: 500;
    text-transform: uppercase;
    padding: var(--spacing-outer-medium);
    margin:0;
    background-color: var(--color-yellow);
    margin-left: 33.333vw;
  }
  .component {
    display: grid;
  }
  .component {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .component .component__text {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    padding: 0 var(--spacing-outer-medium);
  }
  .component .component__media {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 0;
    position: relative;
  }
  .component .component__media figure {
    position: relative;
    margin: 0;
    overflow: hidden;
  }
  .component .component__media figure img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .component__title {
    font-size: var(--fontsize-70);
    position: relative;
    margin-top: var(--spacing-outer-medium);
    margin-bottom: var(--spacing-outer);
  }
  .component__title:before {
    font-size: var(--fontsize-50);
    content: '+';
    position: absolute;
    left: 0;
    bottom: 100%;
  }
  .component__subtitle {
    font-size: var(--fontsize-30);
    max-width: 24em;
    margin-bottom: var(--spacing-outer-large);
  }
  .component__body {
    font-size: var(--fontsize-20);
    padding-right: var(--spacing-outer-large);
  }
  .component__body__cols2 {
    column-count: 2;
    column-gap: var(--spacing-outer-large);
  }
  .component__body__cols2 * {
    break-inside: avoid;
  }
  .component__body p {
    margin-top: 0;
    max-width: 24em;
  }
  .component__first {
    background-color: var(--color-yellow);
  }
  .component__second {
    grid-template-rows: 1fr 2fr;
    background-color: var(--color-white);
  }
  .component__second .component__text {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    padding: 0 var(--spacing-outer-medium) var(--spacing-outer-medium) var(--spacing-outer-medium);
  }
  .component__second  .component__media {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    padding: 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }
  .component__second  .component__media .component__image{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  .component__second  .component__media .component__video{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .component__second  .component__media .component__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .component__third {
    grid-template-rows: 1fr 2fr;
  }
  .component__third .component__text {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    padding: 0 var(--spacing-outer-medium) var(--spacing-outer-medium) var(--spacing-outer-medium);
  }
  .component__third  .component__media {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding: 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }
  .component__third  .component__media .component__image{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  .component__third  .component__media .component__video{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .component__third  .component__media .component__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}